body{
  background-color: rgb(238, 249, 249);
}


.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}
.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}
.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}
label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
.infoNote{
  color: rgb(248, 87, 87);
  font-size: small;
  padding-top: 3rem ;
}


.cardPage{
  margin:2rem auto;
  min-height: 62vh;
}

.searchBar{
  display: flex;
  justify-content: center;
  margin-top: 3.6rem ;
}
#search{
  width:45rem;
  height:2rem;
  padding: 1rem;
  margin-right: 3rem;
  border: 2px solid rgb(185, 188, 189);
  border-radius: 10rem;
}
.filter-btn{
  margin-right:1rem;
}
.filter-form{
  padding:1rem ;
}
.filter-footer{
  display: flex;
  justify-content: space-between;
}
.filter-footer button{
  font-size: 0.83rem;
  padding: 0.2rem 0.5rem;
}


.card-accordion {
  background-color: white;
  width: 80vw;
  height: auto;
  overflow: hidden;
  margin: 1rem auto;
  padding: 1.5rem 2rem 1rem;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-accordion__button {
  background-color: rgb(249, 1, 1);
  color: #fff;
  font-size: 0.8rem;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: 110px;
  border-radius: 30px;
  text-align: center;
}

.card-accordion__content {
  font-size: 0.9rem;
  margin: 20px 10px;
  background-color: #ffffff;
  padding: 40px 60px 5px ;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 20px -20px, rgba(0, 0, 0, 0.3) 1px 2px 0px -10px, rgba(10, 37, 64, 0.35) 0px -1px 5px 0px inset;
}

.cardFront{
  display: flex;
  color:black;
  justify-content: space-between;
}
.frontDetail{
  width:20vw;
}

.cardDetail{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.cardLeft{
  width:30vw;
}
.cardRight{
  width:55vw
}
.backDetail p{
  margin: 5px 0px 20px;
}


.paginationBttns {
  font-weight: 700;
  font-size: large;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a{
  padding:0.5rem 1rem;
  margin:0.1rem;
  border-radius: 2px;
  color: #000000;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(217, 217, 217);
}

.paginationActive a {
  color: white;
  background-color: #ff0000;
}

.paginationDisabled a {
  color: rgb(149, 148, 148);
}



